<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.first-steps.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,820},{168,296}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{168,296}}</string>
                <key>sourceSize</key>
                <string>{180,324}</string>
            </dict>
            <key>10.tile-swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,538},{384,278}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{384,278}}</string>
                <key>sourceSize</key>
                <string>{414,324}</string>
            </dict>
            <key>11.color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1125},{188,294}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{188,294}}</string>
                <key>sourceSize</key>
                <string>{190,300}</string>
            </dict>
            <key>12.wizard.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,614},{334,328}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{334,328}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>2.color-swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,904},{294,238}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{294,238}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>3.color-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,24},{418,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{418,236}}</string>
                <key>sourceSize</key>
                <string>{432,290}</string>
            </dict>
            <key>4.conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,946},{212,270}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{212,270}}</string>
                <key>sourceSize</key>
                <string>{234,288}</string>
            </dict>
            <key>5.rotator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,4},{316,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,316}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>6.color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1098},{220,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,292}}</string>
                <key>sourceSize</key>
                <string>{220,292}</string>
            </dict>
            <key>7.white-tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,298},{402,220}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{402,220}}</string>
                <key>sourceSize</key>
                <string>{432,252}</string>
            </dict>
            <key>8.mirror-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,264},{410,279}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{410,279}}</string>
                <key>sourceSize</key>
                <string>{414,279}</string>
            </dict>
            <key>9.color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,324},{336,292}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{336,292}}</string>
                <key>sourceSize</key>
                <string>{360,342}</string>
            </dict>
            <key>back-button-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,800},{132,98}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{132,98}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>clear-texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,24},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hat-glow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,788},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>hat-glow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,734},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>hat-glow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,678},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,52}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>hat-glow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,620},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,54}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>iq-tag-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1098},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>level-arrow-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,919},{116,220}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{116,220}}</string>
                <key>sourceSize</key>
                <string>{124,232}</string>
            </dict>
            <key>level-arrow-prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,601},{116,220}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{116,220}}</string>
                <key>sourceSize</key>
                <string>{124,232}</string>
            </dict>
            <key>level-hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,298},{346,312}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{346,312}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>level-highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,522},{398,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{398,378}}</string>
                <key>sourceSize</key>
                <string>{412,388}</string>
            </dict>
            <key>level-icon-curtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,620},{24,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,680}}</string>
                <key>sourceSize</key>
                <string>{24,680}</string>
            </dict>
            <key>level-icon-inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,4},{512,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,530}}</string>
                <key>sourceSize</key>
                <string>{512,530}</string>
            </dict>
            <key>level-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1214},{210,272}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{210,272}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>level-pin-stripe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,4},{422,16}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{422,16}}</string>
                <key>sourceSize</key>
                <string>{448,16}</string>
            </dict>
            <key>level-unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,874},{218,300}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{218,300}}</string>
                <key>sourceSize</key>
                <string>{240,340}</string>
            </dict>
            <key>mascot-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,547},{286,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,270}}</string>
                <key>sourceSize</key>
                <string>{286,270}</string>
            </dict>
            <key>mascot-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,821},{272,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,244}}</string>
                <key>sourceSize</key>
                <string>{272,244}</string>
            </dict>
            <key>menu-key-glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,604},{136,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{136,98}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>menu-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,825},{126,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{126,90}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>puzzle-highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,906},{224,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,188}}</string>
                <key>sourceSize</key>
                <string>{224,188}</string>
            </dict>
            <key>puzzle-menu-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,538},{138,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,62}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>rate-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,904},{90,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{90,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rate-text-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1304},{114,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{122,64}</string>
            </dict>
            <key>rate-text-de.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,820},{220,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{220,50}}</string>
                <key>sourceSize</key>
                <string>{228,50}</string>
            </dict>
            <key>rate-text-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1372},{114,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{122,50}</string>
            </dict>
            <key>rate-text-es.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1069},{190,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>rate-text-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1146},{142,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>rate-text-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,547},{118,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>rate-text-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1146},{212,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{212,64}}</string>
                <key>sourceSize</key>
                <string>{220,64}</string>
            </dict>
            <key>rate-text-kr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1069},{192,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>shadow-rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,706},{134,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{134,90}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>shadow-square.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,620},{264,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{264,282}}</string>
                <key>sourceSize</key>
                <string>{290,300}</string>
            </dict>
            <key>solved-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{768,290}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{768,290}}</string>
                <key>sourceSize</key>
                <string>{804,312}</string>
            </dict>
            <key>star-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,906},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-atlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdeb40e748485ec3dfcaf1a133ae3d4a$</string>
            <key>textureFileName</key>
            <string>menu-atlas.png</string>
        </dict>
    </dict>
</plist>
