<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang-icon-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,242},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-de.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,314},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-es.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,242},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,192},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,120},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-icon-kr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>lang-text-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{114,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{114,62}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>lang-text-de.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,68},{208,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{208,50}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>lang-text-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{306,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{306,66}}</string>
                <key>sourceSize</key>
                <string>{310,120}</string>
            </dict>
            <key>lang-text-es.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,364},{200,60}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{200,60}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>lang-text-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{230,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{230,64}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>lang-text-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{206,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{206,52}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>lang-text-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{168,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{168,60}}</string>
                <key>sourceSize</key>
                <string>{190,120}</string>
            </dict>
            <key>lang-text-kr.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,66},{142,52}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{142,52}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>locales-atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50979376ef47a4531481632e1a688fae$</string>
            <key>textureFileName</key>
            <string>locales-atlas.png</string>
        </dict>
    </dict>
</plist>
