<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.first-steps.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,208},{43,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,75}}</string>
                <key>sourceSize</key>
                <string>{45,81}</string>
            </dict>
            <key>10.tile-swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,137},{96,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{96,69}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>11.color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>12.wizard.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,158},{84,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>2.color-swap.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{73,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{73,60}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>3.color-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,80},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{104,59}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>4.conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,283},{53,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{53,68}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>5.rotator.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,141},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>6.color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,208},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>7.white-tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{100,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,55}}</string>
                <key>sourceSize</key>
                <string>{108,63}</string>
            </dict>
            <key>8.mirror-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,8},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,70}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>9.color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{84,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{84,74}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>back-button-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,277},{34,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{34,24}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>clear-texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>hat-glow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,211},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>hat-glow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,215},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>hat-glow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,199},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>hat-glow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,230},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>iq-tag-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,284},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>level-arrow-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,312},{29,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,56}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>level-arrow-prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,185},{29,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,56}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>level-hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{88,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>level-highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,93}}</string>
                <key>sourceSize</key>
                <string>{103,97}</string>
            </dict>
            <key>level-icon-curtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,134},{6,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,170}}</string>
                <key>sourceSize</key>
                <string>{6,170}</string>
            </dict>
            <key>level-icon-inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{128,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,133}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>level-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,242},{54,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,68}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>level-pin-stripe.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{106,4}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,4}}</string>
                <key>sourceSize</key>
                <string>{112,4}</string>
            </dict>
            <key>level-unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,222},{56,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,75}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>mascot-happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,64},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mascot-sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,134},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>menu-key-glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,249},{34,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>menu-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,161},{32,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{32,22}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>puzzle-highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,284},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>puzzle-menu-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,231},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>rate-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,177},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>rate-text-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,243},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>rate-text-de.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,197},{68,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,12}}</string>
                <key>sourceSize</key>
                <string>{68,12}</string>
            </dict>
            <key>rate-text-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,259},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>rate-text-es.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,322},{46,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,11}</string>
            </dict>
            <key>rate-text-fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,306},{43,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,14}}</string>
                <key>sourceSize</key>
                <string>{43,14}</string>
            </dict>
            <key>rate-text-it.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,312},{51,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,11}}</string>
                <key>sourceSize</key>
                <string>{51,11}</string>
            </dict>
            <key>rate-text-jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{51,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{51,14}</string>
            </dict>
            <key>rate-text-kr.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,141},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>shadow-rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,137},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,22}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>shadow-square.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,211},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>solved-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,74}}</string>
                <key>sourceSize</key>
                <string>{201,78}</string>
            </dict>
            <key>star-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,155},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu-atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e17c7c3044f78fe463685318f0dcc74$</string>
            <key>textureFileName</key>
            <string>menu-atlas.png</string>
        </dict>
    </dict>
</plist>
