<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,338},{-8,-8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-8,-8}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>color-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,492},{14,14}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,388},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,50},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{26,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,202},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,178},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,190},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,174},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,150},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,162},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,146},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,122},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,134},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,106},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,182},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,118},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,90},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,62},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,34},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,6},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,154},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,126},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,98},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,70},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,42},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,492},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-streak_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,492},{12,12}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,40},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{18,18}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,6},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{18,18}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,158},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,44},{32,18}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{32,18}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>iq-tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,360},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,120},{30,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{30,22}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>menu-icon-ios.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,74},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>menu-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,134},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mini-color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,442},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,6},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,6},{20,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{20,20}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,486},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{20,20}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,94},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,24}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,46},{32,18}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{32,18}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,6},{32,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{32,22}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,478},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-painter.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,492},{16,14}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,78},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,472},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,432},{36,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mini-tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,426},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,478},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>playfield-pot-spacer.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,6},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,80},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,470},{24,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{24,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-glow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-glow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,438},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-glow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,336},{32,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-glow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,384},{28,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{28,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-rune-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,424},{24,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-rune-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,284},{30,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-rune-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,378},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>teleport-rune-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,332},{26,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,284},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,336},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,390},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,284},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,338},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,466},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-cb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,414},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-error.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,6},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-full-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,426},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>tile-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,360},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>tile-half-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,414},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tile-half.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,284},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tile-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,468},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,332},{34,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,380},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>twinkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,284},{58,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playfield-atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e26b35733b19bf3de72d4334fcb64d$</string>
            <key>textureFileName</key>
            <string>playfield-atlas.png</string>
        </dict>
    </dict>
</plist>
