<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1328},{-32,-32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-32,-32}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>color-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,24},{54,52}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1892},{104,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{104,130}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,600},{100,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{100,104}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,454},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,400},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,344},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,306},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,212},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,118},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,24},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,128},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1798},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1798},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1516},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1516},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1806},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1806},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1516},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1516},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1814},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1814},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1524},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1524},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1818},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1818},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1822},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-streak_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1822},{46,42}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{46,42}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,222},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{72,70}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,152},{68,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{68,70}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,310},{104,92}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{104,92}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,190},{122,68}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{122,68}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>iq-tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1622},{142,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1478},{116,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{116,78}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>menu-esc-CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,24},{204,72}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{204,72}}</string>
                <key>sourceSize</key>
                <string>{220,128}</string>
            </dict>
            <key>menu-esc-FR.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1916},{216,106}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{216,106}}</string>
                <key>sourceSize</key>
                <string>{220,128}</string>
            </dict>
            <key>menu-esc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,494},{122,72}}</string>
                <key>offset</key>
                <string>{46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,25},{122,72}}</string>
                <key>sourceSize</key>
                <string>{220,128}</string>
            </dict>
            <key>menu-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1780},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{70,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mini-color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1610},{110,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{110,136}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,438},{104,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{104,110}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,24},{76,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{76,76}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,274},{74,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{74,76}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1922},{110,98}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{110,98}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,190},{126,70}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{126,70}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1472},{122,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{122,84}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,24},{106,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{106,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-painter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1780},{58,54}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,4},{58,54}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,310},{122,104}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,312},{102,118}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{102,118}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1608},{138,120}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{138,120}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mini-tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1908},{136,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{136,116}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,466},{102,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{102,112}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>playfield-pot-spacer.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{1048,1048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1048,1048}}</string>
                <key>sourceSize</key>
                <string>{1048,1048}</string>
            </dict>
            <key>rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1922},{116,98}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{116,98}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,618},{96,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{96,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-glow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1298},{98,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{98,122}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-glow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1124},{120,126}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{120,126}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-glow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1900},{126,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{126,124}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-glow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1900},{110,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{110,124}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-rune-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,482},{90,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{90,118}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-rune-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1124},{118,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{118,122}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-rune-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1892},{116,118}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{116,118}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>teleport-rune-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1302},{100,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{100,124}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1320},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1610},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1124},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1320},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1124},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1618},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-cb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1328},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-error.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,454},{94,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{94,96}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-full-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1670},{144,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,200}}</string>
                <key>sourceSize</key>
                <string>{144,200}</string>
            </dict>
            <key>tile-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1418},{144,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,200}}</string>
                <key>sourceSize</key>
                <string>{144,200}</string>
            </dict>
            <key>tile-half-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1124},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>tile-half.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1418},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>tile-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1622},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,24},{136,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{136,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,148},{132,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{132,110}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>twinkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1124},{232,242}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{232,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playfield-atlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec56c26feb80de3f28511364aabc2ea0$</string>
            <key>textureFileName</key>
            <string>playfield-atlas.png</string>
        </dict>
    </dict>
</plist>
