<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,668},{-16,-16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-16,-16}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>color-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,198},{28,26}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,764},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{52,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,154},{50,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{50,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,486},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,436},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,488},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,438},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,388},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,386},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,352},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,306},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,280},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,234},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,234},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,338},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,336},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,302},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,256},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,184},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,230},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,184},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,288},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,180},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,134},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,286},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,252},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-streak_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,236},{24,22}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,78},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{36,36}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,12},{34,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{34,36}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,214},{52,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{52,46}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,74},{62,34}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,34}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>iq-tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,816},{71,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,968},{58,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{58,40}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>menu-icon-ios.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,76},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{34,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,176},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mini-color-flood.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,868},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{54,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-color-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,96},{52,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{52,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-color-swap-glyph-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,12},{40,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{40,38}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-color-swap-glyph-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,12},{38,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{38,38}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-color-swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,964},{56,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{56,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-conveyor-belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,12},{62,34}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,34}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,968},{62,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,42}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,12},{54,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-painter.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,142},{30,28}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,12},{62,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,650},{50,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{50,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,846},{70,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{70,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mini-tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,742},{68,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{68,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mirrored.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,92},{52,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{52,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>playfield-pot-spacer.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,12},{524,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,524}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,136},{60,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{60,50}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,934},{48,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{48,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-glow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,756},{50,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{50,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-glow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,664},{62,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-glow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,564},{64,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-glow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,948},{56,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-rune-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,828},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{46,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-rune-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,858},{60,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-rune-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,654},{56,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>teleport-rune-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,948},{50,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{50,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,564},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,664},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,768},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,564},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,668},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,916},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-cb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,816},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-error.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,78},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-full-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,840},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>tile-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,712},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>tile-half-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,564},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>tile-half.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,712},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>tile-magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,919},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-swap-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,564},{68,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{68,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>tile-swap-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,914},{66,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{66,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>twinkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,564},{116,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playfield-atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa4935ff3a3c6b4e5264c8dfbd994a3$</string>
            <key>textureFileName</key>
            <string>playfield-atlas.png</string>
        </dict>
    </dict>
</plist>
